.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.view-width-image{
  max-width: 100% !important;
  position: relative;
}

.view-width-pdf{
  max-width: 100% !important;
}

.react-pdf__Page__canvas{
  max-width: 100%;
}